*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar css starts here */
.navbar-main{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
/* Navbar css ends here */
